@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}



body {
  min-height: 200vh;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.margin_content_main {
  padding-top: 9rem;
  padding-left: 10%;
  padding-right: 10%;
}

.banner {
  position: relative;
  background: url(../asset/banner_pic_blue.png);
  margin: 0;
  padding: 0;
  height: 67.5rem;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#phrase_banner {
  padding-top: 23.875rem;
  width: 45.25rem;
  margin: auto;
  z-index: 2;
  text-align: left;
}

#phrase_banner h2 {
  color: #fff;
  background-color: rgba(15, 25, 52, 0.76);
  font-size: 6.125rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.537);
}

#gradiant_menu {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 27rem;
  z-index: 1;
  position: absolute;
}

u {
  font-size: larger;
}

header {
  background-color: rgba(15, 25, 52, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 1.25rem 3.75rem;
  z-index: 3;
  overflow: hidden;
}

header a {
  position: relative;
}

section div figure a {
  color: #000;
}

section div figure a img {
  border-radius: 5%;
}

header ul a:hover,
header ul a:active {
  color: transparent;
  background-color: transparent;
  text-shadow: -.25px -.25px 0 #fff, -.25px .25px 0 #fff, .25px -.25px 0 #fff, .25px .25px 0 #fff;
}

header ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

header ul a:hover::before,
header ul a:active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header.sticky {
  padding: 5px 3.75rem;
  background: #fff;
  box-shadow: inset 0px -13px 1.688rem -8px rgba(0, 0, 0, 0.05);
}

.sticky ul a:hover,
.sticky ul a:active {
  color: transparent;
  background-color: transparent;
  text-shadow: -.25px -.25px 0 #000, -.25px .25px 0 #000, .25px -.25px 0 #000, .25px .25px 0 #000;
}

header .logo {
  position: relative;
  text-decoration: none;
  transition: 0.6s;
  background: url(../asset/logoBlanc_theo.png);
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  width: 11rem;
  height: 5.75rem;
}

main h1,
main .pres_text {
  color: #000000;
}

header ul {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  position: relative;
  margin: 0 15px;
  margin-right: 3rem;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.6s;
}

/* Transition blanc noir*/

header.sticky .logo {
  background: url(../asset/logoNoir_theo.png);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  width: 6.813rem;
  height: 3.5rem;
}

header.sticky ul li a {
  color: rgb(0, 0, 0);
}

.logos {
  height: 15rem;
  width: 15rem;
}

.logo_html {
  height: 16.875rem;
  width: 16.875rem;
}

.logo_css {
  height: 16.875rem;
  width: 16.875rem;
}

.logo_java {
  margin-top: 1.875rem;
  height: 13.75rem;
  width: 13.75rem;
}

.logo_ubuntu {
  margin-top: 1.875rem;
  height: 13.75rem;
  width: 13.75rem;
}

.logos2 {
  height: 13.125rem;
  width: 43.75rem;
}

.logos3 {
  height: 18.75rem;
}

.languages-content {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.pres_text {
  font-size: 1.25rem;
  padding-top: 1.25rem;
  padding-left: 5%;
  padding-right: 5%;
}

.shadow-section {
  border-radius: 1.5rem;
  Box-shadow: 2px 2px 2.5rem 8px rgba(0, 0, 0, 0.049);
  padding-top: 1.875rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

.section_title {
  font-weight: 600;
  color: #000000;
  text-align: center;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.section_subtitle {
  font-weight: 600;
  color: #000000;
  text-align: center;
  justify-content: space-between;
}

.languages-content figure figcaption * {
  text-align: center;
}

.languages-content figure {
  height: 13rem;
  width: 13rem;
}

.download_button {
  background-color: #201f44;
  box-shadow: 0.25rem 0.25rem 0.688rem -0.125rem rgba(0, 0, 0, 0.7);
  margin-left: 44%;
  margin-right: 40%;
  margin-bottom: 3rem;
  height: 3.5rem;
  font-size: 1.3rem;
  border-radius: 3rem;
  text-align: center;
}

.download_button a {
  text-decoration: none;
  border: none;
  color: white;
  margin: 1rem;
}

/* ----FOOTER---- */

.footer-distributed {
  background-color: #201f44;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  font: bold 1rem sans-serif;
  padding: 20rem 5rem;
  margin-top: 5rem;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

.footer-distributed h3 span {
  color: #ffffff;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 1.25rem 0 0.75rem;
  padding: 0;
  font-weight: 300;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  line-height: 2.625rem;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 1.063rem;
  line-height: 2.375rem;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #00ffbb;
  text-decoration: none;
  ;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed {
  line-height: 1.25rem;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 2.188rem;
  height: 2.188rem;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 2.188rem;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Media query */

@media (max-width: 55rem) {

  .logo_html {
    height: 16.875rem;
    width: 16.875rem;
  }

  .logo_css {
    height: 16.875rem;
    width: 16.875rem;
  }

  .logo_java {
    margin-top: 1.875rem;
    height: 13.75rem;
    width: 13.75rem;
  }

  .logo_ubuntu {
    margin-top: 1.875rem;
    height: 13.75rem;
    width: 13.75rem;
  }

  .footer-distributed {
    font: bold 14px sans-serif;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  .main {
    line-height: normal;
    font-size: auto;
  }
}

@media screen and (max-width: 50rem) {
  .logo {
    display: none;
  }

  .menu {
    display: none;
  }

  header {
    display: none;
  }

  #container {
    display: none;
  }

}

@media screen and (max-width: 38.625rem) {

  #phrase_banner {
    right: 3.125rem;
    width: 31.25rem;
    margin: auto;

  }

  @media screen and (max-width: 53.125rem) {
    #phrase_banner {
      right: 1.563rem;
      width: 31.25rem;
      margin: auto;
    }

  }

  @media screen and (max-width: 31.25rem) {
    #phrase_banner {
      right: 0px;
      width: 31.25rem;
      margin: auto;
    }

  }

  @media screen and (max-width: 43.125rem) {
    #phrase_banner {
      right: 4.375rem;
      width: 18.75rem;
      ;
      padding-top: 14rem;
    }

    #phrase_banner h2 {
      font-size: 2.5rem;
    }

    #pres_title {
      font-size: 3.125rem;
    }

    #pres_title_1 {
      font-size: 45px;
    }


  }

  @media screen and (min-width: 22.125rem)and (max-width: 25rem) {
    #phrase_banner {
      right: 45px;
      width: 18.75rem;
      margin: auto;

    }

    #pres_title {
      font-size: 2.5rem;
    }


  }

  @media screen and (max-width: 22.125rem) {
    #phrase_banner {
      right: 15px;
      width: 18.75rem;
      margin: auto;
    }

    #pres_title {
      font-size: 2.5rem;
    }

  }
}